.about {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__text {
  margin-top: 20px;
  padding-left: 10px;
}

.about__text--title {
  text-align: center;
  margin-block: 20px;
}
.about__text--description {
  font-size: 14px;
  width: 320px;
  line-height: 20px;
  margin-top: 10px;
}
.about__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: var(--status-bar);
  color: var(--footer-bg);
  font-weight: 600;
}

.about__button:last-child {
  margin-left: 10px;
}
