.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__menubar {
  width: 30px;
  position: fixed;
  top: 10px;
  left: 2%;
  z-index: var(--z-index-2);
  cursor: pointer;
}

.home__text {
  width: 300px;
  position: absolute;
}

.home__text p {
  margin-bottom: 2%;
  font-size: 12px;
}

.home__text h1 {
  margin-block: 5%;
}
.home__text--welcome {
  text-align: center;
}
.ascii-art {
  font-family: "JetBrains Mono", monospace;
  white-space: pre;
  overflow: hidden; /* Prevent scrolling */
  line-height: 1.2;
  font-size: 10px;
  color: #00ff00;
  background-color: #000000;
  padding: 20px;
  border: 2px solid #00ff00;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  max-width: 80%;
  margin: auto;
  text-align: left;
  position: relative;
}

.ascii-art::before {
  content: "> ";
  color: #00ff00;
  position: absolute;
  left: 10px;
  top: 50%;
  font-weight: bold;
}

.ascii-art::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #00ff00;
  right: 10%;
  top: 50%;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
